	* {
	background: #777;
	color: #ebebeb;
	font-family: arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
	overflow: auto
}


}
.container{
overflow: auto;

}

body{ 
	margin-left:10px;
	margin-right: 10px;
}


header, #navigator, footer {
	width: 960px;
	height: 100px;
	text-align: center;
	padding: 15px;
	margin-left:150px;
	margin-right: 150px;
	background-color: #ebebeb;
	color: #777;


}
#section, #aside {

	height: 300px;
	background-color: #ebebeb;
	margin-left:150px;
	margin-right: 150px;
	padding-top: 40px;
	color: #777;

}
#headings3, #p {
	width: 400px;
	height: 30px;
	background-color: #ebebeb;
	padding-top: 20px;
	color: #777;
	

}

header { 
	margin-top: 10px;
	margin-bottom: 10px;
}

#navigator {
	margin-bottom: 20px;
}

#section {
	width: 495px;
	float: left;
	padding: 10px;
	margin-right: 20px;
}

#article {
float: left;
width: 465px;
height: 200px;
background-color: #777; 
margin-left:165px;
margin-right: 150px;
position: relative;
bottom: 220px;
}


#headings3 {
	position: relative;
	bottom:160px;
	right: 585px;
	float: left;
	text-align: center;
}

#p {
	position: relative;
	bottom:140px;
	right: 585px;
	float: left;
	text-align: center;

}

#aside {
	width: 445px;
	height: 280px;
	float: right;
	position: relative;
	bottom: 520px;
	left:62px;
}

footer {
margin-top: 20px;
position: relative;
bottom: 500px;
overflow: hidden;
}